.blogs {
  width: 60%;
  margin: 0 auto;
}

.blog {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 2rem;
  margin: 1rem 0;

  &Img {
    width: 100%;
    height: 100%;
  }

  &Title {
    font-weight: 500;
    margin-bottom: 1rem;
    transition: all 0.4s;
    &:hover {
      color: violet;
      cursor: pointer;
    }
  }
  &Date {
    font-weight: 400;
  }
}
